<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Icon set -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    		
		<!-- Custom styling -->
		<link rel="stylesheet" href="/static/style.css">

		<title>walQ example chat</title>

  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-center pt-3 pb-2 text-light" style="background-color:#7355ce; box-shadow: 0px 0px 5px gray;">
        <div class="d-flex flex-column col-md-8 col-lg-4">
          <div class="d-flex align-items-center">
            <h2 class="flex-grow-1">walQ</h2>
            <a href="https://github.com/pedrosiracusa/walQ" target="_blank" class="text-light"><i class="fab fa-github fa-2x"></i></a>
          </div>
          <h5>A questionnaire-based chatbot</h5>
        </div>
      </div>
      <div class="row mt-5 justify-content-center">
        {% if messages %}
        <div class="col-md-8 col-lg-6 col-xl-4">
          {% for m in messages %}

					<div class="media">
					  {% if m[0]=='owned_app' %}
						<div class="ml-4 mr-2 p-1 btn btn-dark btn-sm" style="background-color:#7355ce; border:none;">WalQ</div>
						<div class="media-body mr-4">
							<p class="{{m[0]}}">{{m[1]}}</p>
						</div>
						{% else %}
						<div class="media-body ml-4">
							<p class="text-right {{m[0]}}">{{m[1]}}</p>
						</div>
						<div class="ml-2  mr-4 p-1 btn btn-info btn-sm">{{usrdata['q1'] | capitalize}}</div>
						{% endif %}
					</div>

          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="row justify-content-center mt-3 mb-5">
        {% if send_input==True %}
            <form action="http://localhost:5001/" method="POST">
            {% if input_type == 'choice' %}
                {% for v in input_vals %}
                <button class="btn btn-primary brn-lg" type="submit" name="input" value={{v[0]}}>{{v[1]}}</button>
                {% endfor %}
            {% else %}
                <input  type="text", name="input"/>
            {% endif %}
            </form>
        {% endif %}
      </div>
      {% if conv_data %}
      <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-4">
					<div class="media">
						<div class="ml-4 mr-2 p-1 btn btn-dark btn-sm" style="background-color:#7355ce; border:none;">WalQ</div>
						<div class="media-body mr-4">
							<p class="owned-app">By the way, here are your responses I've recorded during our conversation:</p>
              <p>{{conv_data}}</p>
						</div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
window.scrollTo(0,100000);
    </script>
  </body>
</html>
